{% extends "base_generic.html" %}

{% block title %}
<title>Item</title>
{% endblock %}

{% block content %}
      {% if not user.is_authenticated %}
          <script>
              window.location.replace("{% url 'login' %}?next={{ request.path_info|urlencode }}");
          </script>
      {% endif %}
    <h1>Item</h1>
    <p> {{item.name}}</p>

    <form class="row g-3" method="post" action="{% url 'item' item.id %}">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="name" class="form-label">Item Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{item.name}}">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="submit" class="btn btn-danger" formaction="{% url 'item-delete' item.id %} " onSubmit="return confirm('Are you sure you want to delete this item?');">Delete</button>
        </div>


{% endblock %}
