{% extends "base_generic.html" %}

{% block title %}
<title>Item : {{item.name|title}}</title>
{% endblock %}

{% block content %}
    <h1>Update Item</h1>
    <table class="table table-striped" style="width:50%">
        <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ item.name | title }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>{{ item.price }}</td>
                </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" 
        onclick="location.href='{% url 'item-update' item.id %}'">Update</button>

    <button type="button" class="btn btn-danger"
        onclick="location.href='{% url 'item-delete' item.id %}'">Delete</button>


{% endblock %}
