<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{item.name}} | change {{item.name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
    <h1> Change item</h1>
    <!-- show data field name vs field value -->
    <p>{{ item.name }}</p>

    <!-- create table of field name and value, at bottom add a row with update, and delete button and send user auth -->
    <form action="/items/{{ item.id }}" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="name" value="{{ item.name }}">
        <input type="submit" value="Update">
    </form>

    <form action="/items/{{ item.id }}" method="POST" onsubmit="return confirm('Are you sure?');"
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
    </form>


    </body>
</html>



