{% extends "base_generic.html" %}

{% block title %}
<title>Daily Sale: {{date}}</title>
{% endblock %}

{% block content %}
<h1>Daily Sale: {{date}}</h1>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <th>Counter</th>
                <th>Total Sale</th>
            </thead>
            <tbody>
                {% for sale in dailysale %}
                <tr>
                    <td>{{sale.counter__name}}</td>
                    <td>{{sale.total_sale}}</td>
                        {% comment %}
                    <td>
    <button type="button" class="btn btn-info" 
        onclick="location.href='{% url 'dailysale' dailysale.counter.id dailysale.date %}'">View</button>
                        </td>
                        {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

