{% extends "base_generic.html" %}

{% block title %}
<title>Daily Sales</title>
{% endblock %}

{% block content %}
    <h1>Daily Sales</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="text-align: right;">
                <button class="btn btn-primary" onclick="location.href='{% url 'counter-select' %}'">Add New</button>
            </div>
        </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Counter</th>
                    <th>Time</th>
                    <th>Total Sale</th>
                </tr>
            </thead>
            <tbody>
                {% for dailysale in dailysales %}
                <tr>
                    <td>{{dailysale.date}}</td>
                    <td>{{dailysale.counter__name}}</td>
                    <td>
                        {% if dailysale.sale_type == 'L' %}
                        Lunch
                        {% elif dailysale.sale_type == 'D' %}
                        Dinner
                        {% else %}
                        Unknown
                        {% endif %}
                    </td>
                    <td>{{dailysale.total_sale}}</td>
                    <td>
    <button type="button" class="btn btn-info" 
        onclick="location.href='{% url 'dailysale' dailysale.counter dailysale.date dailysale.sale_type %}'">View</button>
                        </td>
                </tr>
                {% endfor %}
            </tbody>

{% endblock %}
