{% extends "base_generic.html" %}

{% block title %}
<title>Daily Sale</title>
{% endblock %}

{% block content %}
<br/>
<h3>Daily Sale: </h3>
<h1> {{counter}},
    {% if sale_type == 'L' %}
    Lunch
    {% elif sale_type == 'D' %}
    Dinner
    {% else %}
    Unknown
    {% endif %}
    , {{date}}</h1>
</h1>
<h3> Total Sale: {{total_sale}}</h3>

<br/>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Outgoing</th>
                    <th>Incoming</th>
                    <th>Sold</th>
                    <th>Sale</th>
                </tr>
            </thead>
            <tbody>
                {% for foodsale in foodsales %}
                <tr>
                    <td>{{ foodsale.item}}</td>
                    <td>{{ foodsale.price }}</td>
                    <td>{{ foodsale.outgoing}}</td>
                    <td>{{ foodsale.incoming}}</td>
                    <td>{{ foodsale.sold_quantity }}</td>
                    <td>{{ foodsale.sale}}</td>
                    <td>
    <button type="button" class="btn btn-info" 
        onclick="location.href='{% url 'foodsale' foodsale.id %}'">View</button>
                        </td>
                        {% comment %}
                        <td>
    <button type="button" class="btn btn-primary" 
        onclick="location.href='{% url 'foodsale-update' foodsale.id %}'">Update</button>
                        </td>
                        <td>
    <button type="button" class="btn btn-danger"
        onclick="location.href='{% url 'foodsale-delete' foodsale.id %}'">Delete</button>
                        </td>
                        {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

