{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Oops!</h1>
        <p>Something went wrong and we couldn't process your request.</p>
        <p>Please go back to the <a href="/">homepage</a> and try again.</p>
        <h2>Debug Info</h2>
        {% if errors %}
          {% for k,v in errors.items %}
          <p>
            {{ k }}:
            {% for e in v %}
              {{ e }}
            {% endfor %}
          </p>

          {% endfor %}

        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
